/* Google fonts: https://webflow.com/blog/google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #201E20;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #FFFFFF;
    padding: 0 1rem;
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 2px 2px #201E20;
    height: 4rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #201E20;

}

.red-first-word {
    /* Red cherry */
    color: #990011;
}

#menu {
    font-size: large;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.5rem;
}

.active {
    border-bottom: 1px solid #201E20;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #201E20;
    display: none;
    top: 4rem;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* push the footer down */
    flex: 1 0 auto;
    margin-top: 47px; 
}

/* Hero */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/background/tausendlin.jpeg") no-repeat center center/cover;
}

.typing-container {
    width: 600px; /* Adjust as needed */
    white-space: nowrap; /* Keeps the content on a single line */
    overflow: hidden; /* Hide the content that overflows the container's width */
    border-right: 3px solid; /* The cursor effect */
    font-family: monospace; /* Typical font for typing effects */
    font-size: 20px; /* Adjust as needed */
    max-height: 800px;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  /* The cursor effect */
  @keyframes cursorBlink {
    50% { border-color: transparent; }
  }

  /* Apply the animations to the container */
  .typing {
    animation: typing 5s steps(30, end), cursorBlink .75s step-end infinite;
    /* Animation duration should match the typing steps */
  }

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    /* Black-brown */
    background-color: #201E20;
}

#social-networks li {
    padding: 0 10px;
}

/* fonts icons. e.g Facebook,etc */
#social-networks i {
    font-size: 160%;
    padding: 5%;
}


/* Media query: tables and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        top: auto;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    
    #logo {
        font-size: 150%;
        line-height: 75px;
        margin: 0 0 5rem;
    }

     /* Main content */
     main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}

/* Large devices (laptops and desktop, 992px and up) */
@media  screen and (min-width: 992px) {
    main {
        margin-top: 100px; /* Increased margin-top to push content below header shadow for large screens */
    }

    #menu a:hover {
        /* Your styles for hovered <a> tags here */
        border-bottom: 1px solid #201E20;
    }
}