/* Google fonts: https://webflow.com/blog/google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'robot', sans-serif;
}

/* Header */
header {
    background-color:white;
    padding: 0 1rem;
    position: fixed;
    z-index: 9;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;

}

.red-first-word {
    color: red;
}

/* Main content */
main {
    background-color: white;
    /* push the footer down */
    flex: 1 0 auto;
}

#menu {
    font-size: large;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.5rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

footer {
    background-color:#222330;
    color: ghostwhite;
}